.about-container{
    display: flex;
    justify-content: space-between;
    margin: 70px;
}

.about-container img{
    margin-left : 70px;
}


@media screen and (max-width : 480px){
    .about-container{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
        
    }
    .about-container img{
        margin-left: 0px;
    }
    
}