



.highlight{
    color: orange;
}

.header{
    display: flex;
    margin: 75px;
}

.header-heading{
    padding-right: 30px;
}
.header-heading p{
    font-weight: 500;
}

@media screen and (max-width :480px ){
    .header{
        display: flex;
        flex-direction: column-reverse;
        margin: 20px;
    }
    .header img{
        width: 100%;
    }
}
